<div class="col-md-6 offset-md-3 mt-5 login">
  <div class="alert alert-info">
    Username: test<br />
    Password: test<br />
  </div>
  <div class="card">
    <h4 class="card-header">Openweathermap Login</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="login__fields">
          <input type=" text" matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="loginForm.controls['username'].invalid">
            {{getError('user')}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="login__fields">
          <input type=" password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            {{getError('pass')}}
          </mat-error>
        </mat-form-field>
        <button [disabled]=" loading" mat-raised-button color="primary" type="submit"
          class="btn btn-primary login__button" [disabled]="!loginForm.valid"><mat-spinner *ngIf="loading"
            class="login__spinner"></mat-spinner>
          Login</button>
      </form>
    </div>
  </div>
</div>